torch<2
lpips
matplotlib
torchvision
tqdm
onnx
onnxoptimizer
onnxsim
click
di-toolkit
tensorboard
einops
thop
accelerate
timm
ftfy
regex
git+https://github.com/openai/CLIP.git
ultralytics
controlnet_aux